/Homework 05/logs**
/Homework 06/logs**
/Homework 07/logs**
/Homework 08/logs**
/Homework 09/logs**
/Homework 10/logs**
/Homework 10/data/**
/Homework 11/logs**
/Homework 11/data/**
/Homework 11/token**
/Homework 11/__py**
/Homework 12/logs**
